<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Database connection settings -->
    <!--  property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property> -->
    <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
    <!--  property name="connection.driver_class">com.mysql.jdbc.Driver</property -->
    <!-- property name="connection.url">jdbc:mysql://localhost:3306/demohibernate</property-->
    <property name="connection.url">jdbc:mariadb://localhost:3306/tp3_db?serverTimezone=UTC</property>
    <property name="connection.username">tp3_user</property>
    <property name="connection.password">tp3_password123</property>

    <!-- JDBC connection pool (use the built-in) -->
    <property name="connection.pool_size">100</property>

    <!-- SQL dialect -->
    <!-- property name="dialect">org.hibernate.dialect.MySQL5Dialect</property> -->
    <!--  property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property-->
    <!-- property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property> -->
    <property name="hibernate.dialect">org.hibernate.dialect.MariaDB53Dialect</property>

    <!-- Enable Hibernate's automatic session context management -->
    <property name="current_session_context_class">thread</property>

    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">true</property>

    <!-- Quelques autres options: validate, create (effacer et recréer le schéma à chaque exécution), update (mettre à jour le schéma si nécessaire) -->
    <property name="hbm2ddl.auto">create</property>

    <mapping class="com.inf25207.tp3.domain.models.Adresse"/>
    <mapping class="com.inf25207.tp3.domain.models.Avion"/>
    <mapping class="com.inf25207.tp3.domain.models.AvionTest"/>
    <mapping class="com.inf25207.tp3.domain.models.Employe"/>
    <mapping class="com.inf25207.tp3.domain.models.Examen"/>
    <mapping class="com.inf25207.tp3.domain.models.Examination"/>
    <mapping class="com.inf25207.tp3.domain.models.Pilote"/>
    <mapping class="com.inf25207.tp3.domain.models.Piloter"/>
    <mapping class="com.inf25207.tp3.domain.models.Qualification"/>
    <mapping class="com.inf25207.tp3.domain.models.Reparation"/>
    <mapping class="com.inf25207.tp3.domain.models.Specialisation"/>
    <mapping class="com.inf25207.tp3.domain.models.Technicien"/>
    <mapping class="com.inf25207.tp3.domain.models.Test"/>
    <mapping class="com.inf25207.tp3.domain.models.Type"/>
  </session-factory>
</hibernate-configuration>